.navbar-transparent {
  background-color: transparent !important;
  transition: all 0.4s;
}

.navbar-white {
  background-color: white !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.nav-link,
.navbar-brand {
  color: white !important;
}

.navbar-white .nav-link,
.navbar-white .navbar-brand {
  color: black !important;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background-color: white !important;
  }

  .nav-link,
  .navbar-brand {
    color: black !important;
  }
}